<style>
  .alignleft {
	float: left;
  padding-left:12px;
}
.alignright {
  padding-top:16px;
  padding-right:12px;
	float: right;
}
.low-row{
  height:42px;
  clear:both;
}
</style>

<div id="language-switcher-search" class="govuk-grid-row low-row">
  <span class="govuk-body-s alignleft">
  <a href="javascript: history.back()" class="govuk-back-link ">Back</a>
</span>
  <div class="govuk-body-s alignright">
    English | <a href="#0" class="govuk-link--no-visited-state">Cymraeg</a>
  </div>
</div>